<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%7CMuli%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C900%2C900italic%7CPlayfair+Display%3A400%2C400italic%2C700%2C700italic&amp;subset=latin%2Clatin-ext" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
<body>

	<div id="content">
		<%- include('components/header'); %>

		<%- include(content); %>

		<%- include('components/footer'); %>
	</div>

	<% if (typeof infoPopup !== 'undefined') { %>
		<%- include('components/popups/infoPopup'); %>
	<% } %>

	<% if (typeof phonePopup !== 'undefined' && url !== "/profile" && url !== "/profile/") { %>
		<%- include('components/popups/phonePopup'); %>
	<% } %>

	<% if (user && user.blocked) { %>
		<%- include('components/popups/blockPopup'); %>
	<% } %>

	<div class="to_top">
		<i class="fa fa-arrow-up" aria-hidden="true"></i>
	</div>

	<script src="/dist/bundle.js"></script>

</body>
</html>
