<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic-ext" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
<body>

	<div id="content">
		<%- include('components/header'); %>

		<%- include(content); %>
		
		<%- include('components/footer'); %>
	</div>

	<% if (typeof infoPopup !== 'undefined') { %>
		<%- include('components/popups/infoPopup'); %>
	<% } %>

	<% if (typeof phonePopup !== 'undefined' && url !== "/profile") { %>
		<%- include('components/popups/phonePopup'); %>
	<% } %>

	<% if (user && user.blocked) { %>
		<%- include('components/popups/blockPopup'); %>
	<% } %>

	<script src="/dist/bundle.js"></script>

</body>
</html>