<ul class="admin_menu">
	<li class="submenu">
		<p><%- __("Users") %></p>
		<ul>
			<li><a href="/<%- locale %>/admin/users">Управление пользователями</a></li>
		</ul>
	</li>
	<li class="submenu">
		<p><%- __("News") %></p>
		<ul>
			<li><a href="/<%- locale %>/admin/news">Управление новостями</a></li>
			<li><a href="/<%- locale %>/admin/page-settings/news">Управление разделом</a></li>
		</ul>
	</li>
	<li class="submenu">
		<p><%- __("Popups") %></p>
		<ul>
			<li><a href="/<%- locale %>/admin/popups">Управление попапами</a></li>
		</ul>
	</li>
</ul>