
<div class="container">

    <div class="list_item_wrap">
        <% for (var i = 0; i < posts.length; i++) { %>
        <div class="list_item">
            <p class="info"><i><%- `${posts[i].owner} ${posts[i].time}` %></i></p>
            <p class="type"><%= posts[i].type %></p>
            <h3><%= posts[i].head %></h3>
            <p><%= posts[i].content %></p>
        </div>
        <% } %>

        <% if (pages > 1) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="disabled"><a>First</a></li>
            <% } else { %>
                <li><a href="/posts/1">First</a></li>
            <% } %>
            
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
            <li class="active"><a><%= i %></a></li>
            <% } else { %>
            <li><a href="/posts/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="disabled"><a>...</a></li>
            <% } %>
            <% } %>
            <% if (current == pages) { %>
            <li class="disabled"><a>Last</a></li>
            <% } else { %>
            <li><a href="/<%- locale  %>/posts/<%= pages %>">Last</a></li>
            <% } %>
        </ul>
        <% } %>

    </div>

</div>