<div class="list_item_wrap admin_news_list">
        <% for (var i = 0; i < news.length; i++) { %>
			<div class="item">
				<p><%- news[i].name[locale] || news[i].name[locales[0]] %></p>
				<div class="control">
					<a href="/<%-locale%>/admin/news/update/<%- news[i].id %>"><img src="/img/pencil.svg" alt=""></a>
					<a class="confirm" href="/api/news/delete/<%- news[i].id %>"><img src="/img/delete.svg" alt=""></a>
				</div>
			</div>
        <% } %>

        <% if (pages > 1) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="disabled"><a>First</a></li>
            <% } else { %>
                <li><a href="/news/1">First</a></li>
            <% } %>
            
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
            <li class="active"><a><%= i %></a></li>
            <% } else { %>
            <li><a href="/<%- locale  %>/admin/news/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="disabled"><a>...</a></li>
            <% } %>
            <% } %>
            <% if (current == pages) { %>
            <li class="disabled"><a>Last</a></li>
            <% } else { %>
            <li><a href="/<%- locale  %>/admin/news/<%= pages %>">Last</a></li>
            <% } %>
      </ul>
      <% } %>

   </div>