<div class="container profile_section">

	<h1><%- __("News_admin") %></h1>

	<div class="admin_block">

		<%- include('../../menu'); %>

		<div>
			<div>
				<a class="button blue_button" href="/<%- locale %>/admin/news/create">+ <%- __("Add_news") %></a>
			</div>

			<%- include('_list'); %>
		</div>
		
	</div>

</div>