<div class="container">

	<h1><%- __("News_admin") %></h1>

	<%- include('../../menu'); %>

	<div>
		<a href="/<%- locale %>/admin/news/create">+ <%- __("Add_news") %></a>
	</div>

	<%- include('_list'); %>

</div>