<header>
	<div class="container flx jcsb">
		<a href="/<%- locale  %>/">Logotype</a>

		<a href="/<%- locale  %>/posts">List</a>
		<a href="/<%- locale  %>/news">news</a>
		
		<%- include('lang_selector'); %>

		<% if (isGuest) { %>
			<a href="/<%- locale  %>/login">Login</a>
		<% } else { %>
			<% if (user && user.role === 'admin') { %>
				<a href="/<%- locale  %>/admin"><%- __('Admin') %></a>
			<% } %>
			<div>
				<a href="/<%- locale  %>/profile"><%- user.email %></a>
				<a href="/action/logout" class="btn btn-default btn-sm">Logout</a>
			</div>
		<% } %>

	</div>
</header>